body {
  margin: 0;
  padding: 0;
  background-color: #a1a1a1ba;
  font-family: "Arial";
}
.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  padding: 80px;
  background: #ffffff;
  border-radius: 15px;
}
h2 {
  text-align: center;
  padding: 20px;
}
label {
  font-size: 17px;
}
#Uname {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#Pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#log {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
}
span {
  font-size: 17px;
}
a {
  float: right;
  background-color: grey;
}
